@import "tailwindcss";
@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap";

:root {
  --background: #ffffff;
  --foreground: #0D0D0D;
  --primary: #7B2CBF;
  --primary-light: #E7D6F5;
  --primary-dark: #4A148C;
  --font-geist-sans: "Inter", sans-serif;
  --color-black-light: #666666;
}

@theme inline {
  /* colors */
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-black-light: var(--color-black-light);
  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Urbanist", sans-serif;
}
